<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

	  <!--<add name="mycon" connectionString="Data Source=INDIA-PC;Initial Catalog=SAIART2018;Integrated Security=False;User Id=sa;Password=sai@123;" providerName="System.Data.SqlClient"/>-->

	  <!--<add name="mycon" connectionString="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A39834_padamgonds;User Id=DB_A39834_padamgonds_admin;Password=Sg1234*i;"></add>-->

	  <!--<add name="mycon" connectionString="Data Source=DESKTOP-OS4EK78\SQLEXPRESS;Initial Catalog=SAIART2018;Integrated Security=False;" providerName="System.Data.SqlClient"/>-->


    
    <add name="mycon"
		  connectionString="Data Source=DESKTOP-OS4EK78\SQLEXPRESS;Initial Catalog=SAIART2018;Integrated Security=true;"/>
	  
  </connectionStrings>

  <system.web>
    <!-- Vinay update for iis-->
    <!-- <customErrors mode="Off"/>-->
	
			  <customErrors mode="Off"/>
		 
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">

      <forms timeout="3600" />



    </authentication>


    <webServices>


      <protocols>
        <remove name="Documentation" />
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>

    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" />



  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>



  </appSettings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
